@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.rowMargin{
    max-width: 95%;
    margin: 0 auto;
}
/*** Hero Header ***/
/* .home-header {
  position: absolute;
  background: rgba(94, 17, 3, 0.9);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  } */

  /*** Services Rendered ***/
  /*#F3721B*/
.services{
    padding: 3rem 2.2rem 5rem 2.2rem;
    text-align: center;
    background: #F6F8FE;
  }
  .services h1{
    font-size: 2rem;
    color: #EF5455;
    padding: 2rem 0 1rem 0;
    font-weight: bold;
  }
  .services p{
    font-size: 1rem;
  }
  .topRendered{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .renderSize {
    width: 23%;
    padding: 2.5rem 1rem;
    box-shadow: 2px 3px 13px -2px rgba(36, 35, 35, 0.75);
    border: 1px solid #FFFFFF;
    border-radius: 10px;
  }
  /* .spaceup{
    padding: 3.5rem 0;
  } */
  /* .renderSize:hover{
    background: #F3721B;
  } */
  .renderSize h2{
    padding: 0.3rem;
    font-weight: bold;
  }
  .TeamContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }
  .TeamContainer h1{
    font-size: 2rem;
    color: #EF5455;
    padding: 1.5rem;
    font-weight: bold;
  }
  .team{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .team h1{
    font-size: 2rem;
    color: #EF5455;
    font-weight: bold;
  }
  .chef-image{
    height: 230px;
    width: 230px;
    border-radius: 50%;
  }
  .chefTeam{
    width: 23%;
    padding: 1.8rem;
    /* border: 1px solid #0000ff; */
    border-radius: 10px;
  }
  .chefTeam h2, p{
    font-size: 1.2rem;
    text-align: center;
  }

  /* Social icon */
  .cols-icon{
    padding: 0.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icon{
    /* color: #F3721B; */
    color: #EF5455;
    font-size: 1.8rem;
    border:2px solid #EF5455;
    padding: 0.3rem;
    border-radius: 50%;
    margin: 2px;
  }

.hero{
  background: url('../src/assets/homebg.png') no-repeat center center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* About us section */
.aboutus{
  display: flex;
  padding: 1rem 0;
}
.right-aboutus{
  padding: 1.3rem;
  width: 50%;
}
.right-aboutus h1{
  padding: 10px;
  font-size: 2.2rem;
  font-weight: bold;
}
.right-aboutus p{
  padding: 8px;
  font-size: 1.1rem;
  text-align: left;
}
.abtheading{
    font-size: 2rem;
    color: #EF5455;
    font-weight: bold;
    text-align: center;
    padding-top: 3rem;
}
.left-aboutus{
  padding: 1.8rem;
  width: 50%;
}


/* button props */
.buttonbox{
  padding: 0.8rem 1rem;
  background: #F3721B;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: bold;
  /* margin-top: 1rem; */
  /* position: absolute; */
}

  @media screen and (max-width: 900px) {
    .services{
      padding: 1em;
    }
    .services h1{
      font-size: 2rem;
      padding: 2rem 0 0.5rem 0;
    }
    .topRendered{
      flex-direction: column;
    }
    .renderSize {
      width: 100%;
      padding: 0.5rem;
      margin-bottom: 0.7em;
    }
    .services h1{
      text-align: center;
    }
    .services p{
      padding-bottom: 2rem;
    }
    .renderSize h2, p{
      padding-bottom: 0.7rem;
    }
    .chefTeam{
        width: 100%;
        padding: 2rem 5rem;
        margin-bottom: 0.7em;
        border:1px solid #EF5455;
      }
    .team{
        flex-direction: column;
    }
    .aboutus{
      flex-direction: column;
      height: 1200px;
    }
    .left-aboutus{
      width: 100%;
      /* display: none; */

    }
    .right-aboutus{
      width: 100%;
    }
    /* .gridy{
      width: 100%;
    } */
  }